.jumbotron {
  margin-bottom: 0px;
  background-image: url(../img/backgrounds/landing.jpg);
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  width: auto;
  height: 500px;
  color: white;
}

.jumbotron2 {
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
}

p {
  font-family: "Roboto", sans-serif;
}

#d {
  background-color: #eaebed;
  width: auto;
  height: 100px;
  color: black;
  text-align: center;
}

#e {
  background-color: #F15A29;
  width: auto;
  height: 100px;
  color: white;
  text-align: center;
}

#logotext {
  font-size: 30px;
}

#foodpics {

}

#breakfast {
  background-image: url(../img/foodtop/breakfast.jpg);
  height: 200px;
  color: white;
  text-align:center;}

#lunch {
  background-image: url(../img/foodtop/lunch.jpg);
  height: 200px;
  color: white;
  text-align:center;
}

#dinner {
  background-image: url(../img/foodtop/dinner.jpg);
  height: 200px;
  color: white;
  text-align:center;
}

#breakfasttext {
  color: #FFFFFF;
}
