.jumbotron {
  margin-bottom: 0px;
  background-image: url('../img/backgrounds/landing.jpg');
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  width: auto;
  height: 500px;
  color: white;
}

.jumbotron2 {
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}

.jumbotron3 {
  background-image: url('../img/backgrounds/subscribe.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}

p {
  font-family: "Times";
}

.food-heading {
  font-family: "Hevitica";
}
#banner {
  margin-left: -12px;
}

#d {
  background-color: #eaebed;
  font-size: 16px;
  width: 110%;
  height: 100px;
  color: black;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

#e {
  background-color: #F15A29;
  font-size: 16px;
  width: 110%;
  height: 100px;
  color: white;
  text-align: center;
  margin-left: 0px;
  padding-top: 48px;
  padding-bottom: 48px;
}

#logotext {
  font-size: 30px;
}

#foodpics {

}

#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  font-size: 16px;
  height: 200px;
  color: white;
  text-align:center;
  padding-top: 98px;
  padding-bottom: 98px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

#breakfast:hover {
  opacity: 0.6;
  color: black;
}

#lunch {
  background-image: url(../img/foodtop/lunch.jpg);
  font-size: 16px;
  height: 200px;
  color: white;
  text-align:center;
  padding-top: 98px;
  padding-bottom: 98px;
}

#lunch:hover {
  opacity: 0.6;
  color: #000000;
}

#dinner {
  background-image: url(../img/foodtop/dinner.jpg);
  font-size: 16px;
  height: 200px;
  color: white;
  text-align:center;
  padding-top: 98px;
  padding-bottom: 98px;
}

#dinner:hover {
  opacity: 0.6;
  color: #000000;

}

#foodcontainer {
  padding: 50px;
}

#contact {
}

#contactheader {
  font-size: 26px;
  font-style: "Times";
  color: white;
  text-align: center;
}

form {
  text-align: center;
}

.button {
  text-align: center;
}

#footer {
  background-color: #F15A29;
}
 #footertext {
   color: white;
   font-family: "Times";
 }

 #footersub {
   color: white;
   font-family: "Times";
 }

#fb {
  background-color: black;
}

#email {
  opacity: 0.2;
}

.placeholder {
  height: 100%;
}

.img-thumbnail {
box-shadow: 5px 5px 5px 5px #888888;
}
